
.box {
    margin: 10px;
   padding: 15px;
    background-color: lightgray; 
    border: 3px solid grey;

}


.box .mail{
    background-color: white;
}


.box a{

    padding: 5px;
}
